[submodule "balance.lv2"]
	path = balance.lv2
	url = git://github.com/x42/balance.lv2.git
[submodule "convoLV2"]
	path = convoLV2
	url = git://github.com/x42/convoLV2.git
[submodule "xfade.lv2"]
	path = xfade.lv2
	url = git://github.com/x42/xfade.lv2.git
[submodule "nodelay.lv2"]
	path = nodelay.lv2
	url = git://github.com/x42/nodelay.lv2.git
[submodule "midifilter.lv2"]
	path = midifilter.lv2
	url = git://github.com/x42/midifilter.lv2.git
[submodule "meters.lv2"]
	path = meters.lv2
	url = git://github.com/x42/meters.lv2.git
[submodule "robtk"]
	path = robtk
	url = git://github.com/x42/robtk
[submodule "sisco.lv2"]
	path = sisco.lv2
	url = git://github.com/x42/sisco.lv2
[submodule "tuna.lv2"]
	path = tuna.lv2
	url = git://github.com/x42/tuna.lv2
[submodule "onsettrigger.lv2"]
	path = onsettrigger.lv2
	url = git://github.com/x42/onsettrigger.lv2
[submodule "mixtri.lv2"]
	path = mixtri.lv2
	url = git://github.com/x42/mixtri.lv2
[submodule "fil4.lv2"]
	path = fil4.lv2
	url = git://github.com/x42/fil4.lv2
