#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

%:
	dh $@

override_dh_auto_build:
	$(MAKE) \
		OPTIMIZATIONS="-O2" \
		LDFLAGS="-Wl,--as-needed $(LDFLAGS)" \
		PREFIX=/usr

override_dh_auto_install:
	$(MAKE) install \
		DESTDIR=$(CURDIR)/debian/x42-lv2-plugins \
		PREFIX=/usr
